@model List<DoktorlarTablosu>

@if(TempData["Basarili"] != null)
{
    <h3 style="color:red">@TempData["Basarili"]</h3>
}


    <div class="container">

        <div class="row pt-3 pb-4">
            <div>
            <h1>Doktorlar </h1>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    DoktorId
                </th>
                <th>
                    DoktorAdi
                </th>
                <th>
                    Uzmanlik
                </th>
                <th>
                    GunHafta
                </th>
                <th>
                    BaslamaSaati
                </th>
                <th>
                    BitisSaati
                </th>

                <th>
                </th>
                <th>
                </th>
            </tr>

            </thead>

            <tbody>
            @foreach (var DoktorlarTablosu in Model)
                {
                    <tr>
                    <td>@DoktorlarTablosu.DoktorId</td>
                    <td>@DoktorlarTablosu.DoktorAdi</td>
                    <td>@DoktorlarTablosu.Uzmanlik</td>
                    <td>@DoktorlarTablosu.GunHafta</td>
                    <td>@DoktorlarTablosu.BaslamaSaati</td>
                    <td>@DoktorlarTablosu.BitisSaati</td>

                        <td>
                        <a asp-controller="DoktorlarTablosu" asp-action="KlinikGuncelle" asp-route-id="@DoktorlarTablosu.DoktorId" type="button" class="btn btn-info" style="width:200px">Güncelle</a>
                        </td>

                        <td>
                        <a asp-controller="DoktorlarTablosu" asp-action="KlinikSil" asp-route-id="@DoktorlarTablosu.DoktorAdi" type="button" class="btn btn-danger" style="width:200px">Sil</a>
                        </td>

                    </tr>
                }

      


            </tbody>


        </table>

        <div class="row pt-3 pb-2">
            <div>
            <a asp-controller="DoktorlarTablosu" asp-action="KlinikEkle" class="btn btn-success" type="button">
                Yeni Doktor Oluştur
            </a>
            </div>

        </div>

</div>
