@model List<Randevu>

@if(TempData["Basarili"] != null)
{
    <h3 style="color:red">@TempData["Basarili"]</h3>
}


    <div class="container">

        <div class="row pt-3 pb-4">
            <div>
            <h1>Randevular </h1>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    RandevuId
                </th>
                <th>
                    HastaId
                </th>
                <th>
                    DoktorRandevuId
                </th>
                <th>
                    GunHafta
                </th>
                <th>
                    BaslamaSaati
                </th>
                <th>
                    BitisSaati
                </th>
 
                <th>
                </th>
                <th>
                </th>
            </tr>

            </thead>

            <tbody>
            @foreach (var Randevu in Model)
                {
                    <tr>
                    <td>@Randevu.RandevuId</td>
                    <td>@Randevu.HastaId</td>
                    <td>@Randevu.DoktorlarTablosu.DoktorAdi</td>
                    <td>@Randevu.GunHafta</td>
                    <td>@Randevu.BaslamaSaati</td>
                    <td>@Randevu.BitisSaati</td>


                        <td>
                        <a asp-controller="Randevu" asp-action="KlinikEkleGuncelle" asp-route-id="@Randevu.RandevuId" type="button" class="btn btn-info" style="width:200px">Güncelle</a>
                        </td>

                        <td>
                        <a asp-controller="Randevu" asp-action="KlinikSil" asp-route-id="@Randevu.RandevuId" type="button" class="btn btn-danger" style="width:200px">Sil</a>
                        </td>

                    </tr>
                }
    
            </tbody>

        </table>

        <div class="row pt-3 pb-2">
            <div>
            <a asp-controller="Randevu" asp-action="KlinikEkleGuncelle" class="btn btn-success" type="button">
                Yeni Randevu Kayıt Oluştur
            </a>
            </div>

        </div>

</div>
